[Unit]
Description=immich database ({{ immich_database_identifier }})
{% for service in immich_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop --time={{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ immich_database_identifier }} 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ immich_database_identifier }} 2>/dev/null || true'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
                --rm \
                --name={{ immich_database_identifier }} \
                --log-driver=none \
#                --cap-drop=ALL \
                --label-file={{ immich_base_path }}/labels-database \
                --network={{ immich_container_network }} \
                --mount type=bind,src={{ immich_database_path }},dst=/var/lib/postgresql/data \
                --env-file={{ immich_base_path }}/env \
                {% if immich_database_container_extra_arguments | length > 0 %}
                {{ immich_database_container_extra_arguments | join(' ') }} \
                {% endif %}
                {{ immich_database_container_image }} \
                postgres -c shared_preload_libraries=vectors.so -c 'search_path="$${user}", public, vectors' -c logging_collector=on -c max_wal_size=2GB -c shared_buffers=512MB -c wal_compression=on

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ immich_database_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop --time={{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ immich_database_identifier }} 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ immich_database_identifier }} 2>/dev/null || true'
Restart=always
RestartSec=30
SyslogIdentifier={{ immich_database_identifier }}

[Install]
WantedBy=multi-user.target
